<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
  <!-- Contents -->
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="">About Us</h5>
        <p>
          At {{ APP_NAME }}, we specalise in the seamless allocation of products
          to drivers. Our goal is to provide a reliable and user-friendly
          platform to ensure deliveries are made as efficiently as possible. Our
          team is dedicated to supporting your delivery needs and are available
          24/7 for assistance.
        </p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="">Contact Us</h5>
        <p>
          Name: {{ STUD_NAME }} <br />
          Email: {{ STUD_EMAIL }}<br />
          Student ID: {{ STUD_ID }}<br />
          Phone: {{ PHONE }}<br />
          Address: {{ ADDRESS }}
        </p>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Copyright
    <a
      class="link-underline link-underline-opacity-0 link-opacity-75-hover"
      routerLink="/"
      >{{ APP_NAME }}</a
    >
  </div>
</footer>
